:root {
  --primary-text-color: #757575;
  --title-text-color: #000000;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
}

/* Global style */

/* html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
} */

body {
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03rem;
}

a {
  text-decoration: none;
  color: var(--primary-text-color);
  font-style: normal;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

footer {
  background-color: #2f303a;
}

h1,
h2 {
  padding: 0;
  margin: 0;
}

h3 {
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
}

link {
  padding: 0;
  margin: 0;
}

section {
  margin-bottom: 94px;
}

/* Flex container */
.container,
.container-advantages,
.container-whot-do-we,
.container-team,
.container-customers,
.container-footer {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  outline: 2px solid tomato;
}
.container-footer {
  padding-top: 45px;
}

.box-advantages,
.box-whot-do-we,
.box-team,
.list-icon {
  display: flex;
  justify-content: space-around;
}

.fooret-box {
  display: flex;
  justify-content: space-around;
}

.social-list {
  display: flex;
}

.social-list-footer {
  display: flex;
}

.box-subscribe {
  display: flex;
}

.logo {
  color: var(--title-text-color);
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
}

.logo-web {
  color: var(--accent-color);
}
.logo-studio-white {
  color: var(--primary-white-color);
}

/* Active */

.link:hover,
.link:focus,
.link.current,
.address-nav-link:hover,
.address-nav-link:focus {
  color: var(--accent-color);
}

.hero {
  background-color: rgba(47, 48, 58, 0.8);
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.06rem;
  margin-bottom: 30px;
}

.hero-button,
.button-subscribe {
  display: block;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  margin: 0 auto;

  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
}

.advanteges-svg {
  background-color: #f5f4fa;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
}

.link {
  color: var(--title-text-color);
  font-weight: 500;
}

.address-nav-link {
  color: var(--primary-text-color);
}

.title-advantages {
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.section-title {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 50px;
}
.section-team {
  background: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.box-team > li {
  background-color: var(--primary-white-color);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}

.name {
  text-transform: none;
}

.footer-title {
  color: var(--primary-white-color);
  text-align: center;
}
.address-footer a {
  display: block;
}

input {
  width: 358px;
  height: 50px;
  background: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.section-whot-do-we-text {
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--primary-white-color);
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.address_map {
  color: var(--primary-white-color);
}

.last-text {
  color: var(--primary-text-color);
  font-size: 12px;
  text-align: center;
}

/* Portfolio */
.portfolio-title {
  display: none;
}

.button-portfolio {
  border-color: #f5f4fa;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}

.button-portfolio.current,
.button-portfolio:hover,
.button-portfolio:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.portfolio-caption {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
}

.portfolio-kind {
  font-size: 16px;
  line-height: 1.9;
}

.portfolio-text-about {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-size: 18px;
  line-height: 1.6;
}
